@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: #002846;
  #overview-dashboard {
    color: white;
  }
}

.navbar {
  background-color: #117899
}

.nav-icon {
  color: #00d4e7;
}

.dash-box {
  background-color: #117899;
  height: 25vh;
  border-radius: 1%;
}

.hide {
  display: none;
}

.dashboard-btn {
  border: 1px solid #F16A0F;
  border-radius: 50%;
}
.dashboard-icon {
  color: #F16A0F;
}
